<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/log.css">
    <title>Ingreso EGD HUMANA</title>
</head>
<body>
    <div class="col-s-12 col-s-12 col-m-12 col-l-12 container">
        <div class="col-s-11 col-m-8 col-l-6 log">

                <div class="col-s-12 col-m-12 col-l-12 dv1">
                    <h1>INIGRESO A SISTEMA EGD HUMANA</h1>
                </div>
                <div class="col-s-12 col-m-12 col-l-12 dv2">
                    <div class="col-s-12 col-m-12 col-l-12 dv21">
                        <input class="dis"  id="nombre" name="nombre" type="text" placeholder="Ingresa tu usuario">
                    </div>
                    <div class="col-s-12 col-m-12 col-l-12 dv22">
                        <input class="dis" id="pass" name="password" type="password" placeholder="Ingresa tu contraseña" >
                    </div>
                </div>
                <div class="col-s-12 col-m-12 col-l-12 dv3">
                    <div class="col-s-12 col-m-12 col-l-12 dv31">
                        <button type="button" onclick="entrar()"  class="b1">INICIAR SESIÓN</button>
                    </div>
                    <span id="passstrength"></span>
                    <div class="col-s-12 col-m-12 col-l-12 dv32">
                        <a href="registro"><Label>REGISTRARME</Label></a>
                    </div>
                </div>

        </div>
    </div>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="/js/sha1.js"></script>
    <script src="/js/validar2.js"></script>   
</body>
</html>