<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon2-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/obje.css">
    <title>Capturar nivel de Objetivos | CI HUMANA</title>
</head>
<body onload="issecure()" >
    <!-- MENU -->
    <div id="imn"></div>
    <div class="col-s-6 col-m-4 col-l-2 nav">
        <div class="rounded-circle col-s-8 col-m-8 col-l-8 foto"><img src="/img/logo.png" id="perfil" class="col-s-12 col-m-12 col-l-12" ></div>
        <div class="col-s-12 col-m-12 col-l-12 bien">
            <label id="lbl1">BIENVENIDO</label><br>
            <label id="lbl2"><p id="nombre"></p></label>
        </div>
        <div class="col-s-12 col-m-12 col-l-12 boto">
          <div class="col-s-12 col-m-12 col-l-12 boto1">
              <a href="../index"><button type="button" class="btn btn-warning bme">MENÚ</button></a>
          </div>
          <div class="col-s-12 col-m-12 col-l-12 boto2">
                <a href="../fichaegd"><button type="button" class="btn btn-info bme">FICHA EGD</button></a>
          </div>
          <div class="col-s-12 col-m-12 col-l-12 boto3">
            <a href="../objemenu"><button type="button" class="btn btn-danger bme1">REGRESAR</button></a>
          </div>         
        </div>
        <div class="col-s-12 col-m-12 col-l-12 sa"><button type="button" onclick="logout()" class="btn btn-light bsa">Salir</button></div>
    </div>
    <!-- TERMINA MENÚ -->
    <div class="col-s-12 col-m-12 col-l-10 menu">
            <!-- TITULOS -->
        <div class="col-s-12 col-m-12 col-l-12 titu">
            <div class="col-s-12 col-m-2 col-l-3 log2">
                <img src="/img/logo.png" id="logo">
            </div>
            <div class="col-s-12 col-m-10 col-l-9 titu2"><h1 id="th1">CAPTURA DE NIVEL DE OBJETIVO</h1></div>
        </div>
        <!-- FIN TITULOS -->
        <form action="/links/obje/{{usu.id}}" method="get">
            <input  type="hidden"  name="obj_idCol" value="{{usu.obc_idCol}}" />
        </form>
        <form action="/links/obje" method="post">
        <input  type="hidden"  name="obj_idCol" value="{{usu.obc_idCol}}" />
        <div class="col-s-12 col-m-12 col-l-12 dat2">
            <div class="col-s-12 col-m-4 col-l-4 dat21">                
                <input type="text" name="obj_obje" id="" class="dis" placeholder="Objetivo:" value="{{usu.obc_nomObj}}">   
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_verbo" id="" class="dis" placeholder="Verbo:">          
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_unidad" id="" class="dis" placeholder="Unidad a medir:">            
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_cumpli" id="" class="dis" placeholder="Cumplimiento:">           
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_acci" id="" class="dis" placeholder="Acción:">           
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_objeEstra" id="" class="dis" placeholder="Objetivos estratégicos:">           
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_macro" id="" class="dis" placeholder="Macroproceso:">           
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_proce" id="" class="dis" placeholder="Proceso:">           
            </div>
            <div class="col-s-12 col-m-4 col-l-4 dat21">
                <input type="text" name="obj_subpro" id="" class="dis" placeholder="Subproceso:">           
            </div>
            <div class="col-s-12 col-m-12 col-l-12 dat22">
                <h1>Meta:</h1>
                <div class="col-s-12 col-m-4 col-l-4 dat21">
                    <input type="text" name="obj_min" id="" class="dis" placeholder="Mínimo:">           
                </div>
                <div class="col-s-12 col-m-4 col-l-4 dat21">
                    <input type="text" name="obj_satis" id="" class="dis" placeholder="Satisfactorio:">           
                </div>
                <div class="col-s-12 col-m-4 col-l-4 dat21">
                    <input type="text" name="obj_sobre" id="" class="dis" placeholder="Sobresaliente:">           
                </div>
            </div>
        </div>
        <div class="col-s-12 col-m-12 col-l-12 dat31">
            <div class="col-s-12 col-m-6 col-l-6 bt1">
                <input type="submit" class="btn btn-primary" value="ENVIAR"/>
            </div>
            <div class="col-s-12 col-m-6 col-l-6 bt1">
                <button type="reset" class="btn btn-danger">BORRAR</button>
            </div>
        </div>
    </form>
    </div>
<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="/js/validar2.js"></script>   
    <script src="/js/menu.js"></script>
</body>
</html>